
@import url('https://fonts.googleapis.com/css?family=Nova+Flat'); // font-family: 'Nova Flat', cursive;

  $red: #d50000;
  $blue: #2962ff;
  $green:  #00c853;
  $yellow:  #ffd600;
  $silver: #ecf0f1;

@mixin gameButton {
  height: 16em;
  width: 18em;
  display: inline-block;
  margin: .5em;
  border: 1px white solid;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1.0;
  }
}

body {
  background-color: #90a4ae;
}


#container {
  background-color: #263238;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 40em;
  display: block;
  margin-top: 4em;
  border-radius: 50%;
  overflow: contain;
  text-align: center;
  -webkit-box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 4px 5px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 4px 5px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

#center {
  background-color: #263238;
  height: 16em;
  width: 16em;
  border-radius: 100%;
  position: absolute;
  margin-top: 10em;
  margin-left: 11.5em;
  z-index: 1;
  border: 2px white solid;

  h2 {
    color: $silver;
    margin-top: 1em;
    margin-bottom: .5em;
    text-transform: uppercase;
    font-family: 'Nova Flat', cursive;
    font-weight: 800;
    font-size: 2em;
  }

  hr {
    color: white;
    width: 95%;
  }
}

#button-list {
  list-style-type: none;
  color: white;
  font-size: .6em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-left: none;
  margin-bottom: .3em;
  margin-top: 2.5em;

  li {
    display: inline-block;
    margin-right: 1.9em;
    letter-spacing: .1em;

  }
}

button {
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
  margin-top: 0;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  border: 3px solid black;

  &:nth-child(odd){
    background-color: yellow;
  }

  &:nth-child(even){
    background-color: red;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1.0;
  }

}

#on-off {
  width : 9.5em;
  margin-left: 3.2em;
  height: 2.5em;
  vertical-align: top;


  #off {
    float: left;
  }

  #on {
    float: right;
  }

  span h3 {
    color: white;
    line-height: 2.8em;
    display: inline;
    vertical-align: middle;
    font-size: .8em;
    text-transform: uppercase;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border: 3px solid black;

}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $red;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #263238;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;//#2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


#green {
  background-color: $green;
  border-top-left-radius: 100%;
  @include gameButton;
}

#red {
  background-color: $red;
  border-top-right-radius: 100%;
  @include gameButton;
}

#yellow {
  background-color: $yellow;
  border-bottom-left-radius: 100%;
  @include gameButton;
}

#blue {
  background-color: $blue;
  border-bottom-right-radius: 100%;
  @include gameButton;
}
